
.icon-users-2:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-instagram:before { content: '\e802'; } /* '' */
.icon-youtube-1:before { content: '\e803'; } /* '' */
.icon-users-1:before { content: '\e804'; } /* '' */
.icon-pinterest-1:before { content: '\e805'; } /* '' */
.icon-tag:before { content: '\e806'; } /* '' */
.icon-spotify:before { content: '\e807'; } /* '' */
.icon-folder-open:before { content: '\e808'; } /* '' */
.icon-gmail:before { content: '\e809'; } /* '' */
.icon-folder:before { content: '\e80a'; } /* '' */
.icon-basket:before { content: '\e80c'; } /* '' */
.icon-chat:before { content: '\e80e'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */
.icon-users:before { content: '\e810'; } /* '' */
.icon-user-add:before { content: '\e811'; } /* '' */
.icon-attach:before { content: '\e812'; } /* '' */
.icon-lock-1:before { content: '\e813'; } /* '' */
.icon-user-1:before { content: '\e814'; } /* '' */
.icon-facebook:before { content: '\e815'; } /* '' */
.icon-twitter:before { content: '\e816'; } /* '' */
.icon-github:before { content: '\e817'; } /* '' */
.icon-github-circled:before { content: '\e818'; } /* '' */
.icon-linkedin-1:before { content: '\e819'; } /* '' */
.icon-twitter-2:before { content: '\f099'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-industry:before { content: '\f275'; } /* '' */
.icon-vimeo-1:before { content: '\f27d'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-facebook-1:before { content: '\f300'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-1:before { content: '\f302'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-github-1:before { content: '\f308'; } /* '' */
.icon-vimeo-rect:before { content: '\f30e'; } /* '' */
.icon-vimeo:before { content: '\f30f'; } /* '' */
.icon-tumblr-rect:before { content: '\f310'; } /* '' */
.icon-lastfm-rect:before { content: '\f319'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */