body
{
    color: gray;
}
#registro{
  width: 70%;
  height: 50%;
  margin: auto;
}
h2{
  color: green;
  font-size: 30px;
}
.cajas{
  width: 100%;
  background: transparent;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 3px solid black;
}
.cajas focus{
  border-bottom: 2px solid blue;
}
#btn{
  width: 400px;
  background: skyblue;
  color: white;
  border-radius: 20px;
}
#btn: hover{
  background: red;
  color: white;
  cursor: pointer;
}
